.footer {
    background: #e4e4e4;
    padding: 40px 0;

    &__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    &__info__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__info__item {
        padding: 10px 20px;
        background: #fff;
        color: black;
        border-radius: 12px;
        cursor: pointer;
        transition: .4s;

        &:hover {
            background: black;
            color: white;
        }
    }

    &__item__title {
        background: transparent;

        &:hover {
            background: transparent;
            color: black;
        }
    }
}

@media (max-width:1200px) {
    .footer {
        &__info {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width:870px) {
    .footer {
        &__info {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:570px) {
    .footer {
        &__info {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}